h1 {
    text-align: center;
    color: #806e1e;
}

#contener {
    text-align: center;
    overflow: hidden;
}

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    overflow:hidden; 
}

.square_btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #c58668;
}

.square_btn:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

#miel{
    width: 300px; 
    height: 252px; 
    position: bottom;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)  {
    body {
        background-image: none;
        background-color: #f9f9dd;
    }

    h1{
        margin-top: 5vh;
    }
    #miel{
        margin-left: 24%;
        margin-top: 11vh;
        height: 190px;
        width: 220px;
    }

    #bee{
        width: 178px;
        height: 170px;
        margin-top: 2vh;
    }

    #barre{
        width: 350px;
        margin-left: 1vh;
        margin-top: 3vh;
    }

    #boutonjouer{
        margin-top: 5vh;
        font-size: 1.5em;
        padding-top: 0.5em;
        text-align: center;
        font-weight: bold;
        width: 8em;
        height: 3em;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    body {
        background-image: none;
        background-color: #f9f9dd;
    }

    h1{
        margin-top: 5vh;
    }
    #miel{
        margin-left: 38%;
        margin-top: 11vh;
        height: 190px;
        width: 220px;
    }

    #bee{
        width: 178px;
        height: 170px;
        margin-top: 2vh;
    }

    #barre{
        width: 550px;
        height: 110px;
        margin-left: 1vh;
        margin-top: 3vh;
    }

    #boutonjouer{
        margin-top: 5vh;
        font-size: 2em;
        padding-top: 0.5em;
        text-align: center;
        font-weight: bold;
        width: 8em;
        height: 3em;
    }
}